<div class="sidebar  right">
    <div class="full right side-logo">
        <img alt="bugloos " src="assets/images/logo.svg">
    </div>
    <div class="side-menu full right">
        <ul>
            <li>
                <a routerLink="/users">
                    <div class="full right side-menu-item">
                        <img class="menu-icon right" src="assets/images/users.svg" >
                        <span>کاربران</span>
                    </div>
                </a>
            </li>
            <li>
                <a routerLink="/user/edit">
                    <div class="full right side-menu-item">
                        <img class="menu-icon right" src="assets/images/user.svg" >
                        <span>افزودن کاربر</span>
                    </div>
                </a>
            </li>
            <li>
                <a>
                    <div class="full right side-menu-item">
                        <img class="menu-icon right" src="assets/images/forms.svg" >
                        <span>فرم ها</span>
                    </div>
                </a>
            </li>
            <li>
                <a>
                    <div class="full right side-menu-item">
                        <img class="menu-icon right" src="assets/images/form.svg" >
                        <span>افزودن فرم</span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
