@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

@font-face {
  font-family: "iransans";
  src: url("assets/fonts/iran_sans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: iransans !important;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.right {
  float: right;
}

.left {
  float: left;
}

.relative {
  position: relative;
}

.full {
  width: 100% !important ;
}

.half {
  width: 50% !important;
}

.col3 {
  width: 33.33% !important;
}

.col4 {
  width: 25% !important;
}

.center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.v-hidden {
  visibility: hidden;
}

.none {
  display: none;
}

.ltr {
  direction: ltr;
}

.rtl {
  direction: rtl;
}

.pointer {
  cursor: pointer;
}

html,
body {
  background: #efefef;
  font-family: iransans;
  overflow-x: hidden;
  height: 100%;
}

input {
  font-family: iransans;
}

.cdk-drag-dragging {
  display: none;
}

.mat-simple-snackbar {
  text-align: center;
  display: inline !important;
  font-size: 18px !important ;
}

.mat-simple-snackbar span {
  font-family: iransans;
}

.snackbar {
  text-align: center;
  background: red;
}

.logo {
  width: 300px;
  margin: 70px 0;
}

.content {
  width: calc(100% - 200px);
}

.general-forms-container {
  padding: 20px;
  direction: rtl;
}

.form-item-input {
  margin-bottom: 15px;
}

.form-item-label {
  font-size: 16px;
  margin-bottom: 5px;
}

.form-item-input input,
.form-item-input select {
  border: 1px solid #ccc;
  padding: 3px;
  width: 250px;
}

.general-button {
  background: #0089ff;
  color: #fff;
  padding: 7px 20px;
  border-radius: 2px;
  font-size: 18px;
}

.red-button {
  background: #fc3c3b;
}

.general-table {
  width: 100%;
  text-align: center;
  font-size: 20px;
}

.general-table td {
  padding: 5px 0;
}

.cdk-drag-preview {
  max-width: 200px;
  border: 3px dotted red;
}
